<mat-form-field>
  <mat-label>Matrix</mat-label>
  <mat-select>
    <mat-option *ngFor="let mat of matrix" [value]="mat.value">
      {{mat.label}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div>
  <app-map [pointerEvent]="pointerEvent"
           (pointerMove)="pointerEvent = $event"
           [name]="'World View'"
           [layer]="layers.data.BING"
           [position]="maps.world.position"
           [projection]="maps.world.projection"
           (clickOnMap)="clickOnMap($event)"></app-map>

  <app-map [pointerEvent]="pointerEvent"
           (pointerMove)="pointerEvent = $event"
           [name]="'Image View'"
           [layer]="layers.data.WMS.imageB"
           [position]="maps.image.position"
           (clickOnMap)="clickOnMap($event)"></app-map>

</div>

<button (click)="clicks = []">Clear All</button>
<table>
  <tr *ngFor="let click of clicks; index as index">
    <td>
      <div>
        <span>
          {{click[0].coordinate}} - {{click[1].coordinate}}
        </span>
        <button (click)="clear(index)">delete</button>
      </div>
    </td>
  </tr>
</table>
